{% extends 'base.html' %} {% block content %} 

<div class="container">
<h1>About</h1>
<p>The One Health Planning for Performance (OH P4P) is P & R’s technical strategy for countries to annually measure and benchmark their coordination mechanism’s organizational and performance capacity and inform planning and development assistance. The OH P4P is both a process and a tool for a country-led and participatory assessment of capacity and performance of the NOHPs. Its results inform the NOHP’s annual work plan, capacity development interventions and technical assistance. The tool complements existing global instruments (e.g. WHO Joint External Evaluation) and applies a ‘One Health lens’ to better align P&R interventions to the needs of national governments – all in service to advancing a multi-sectoral One Health agenda.</p>

<p>The OH P4P Process is administered in three modules over the course of a two-day workshop: NOHP organizational capacity assessment, OH organizational performance assessment, and prioritization and planning. </p>

<p>P4P tool includes tabs to guide work through each module.  It also includes a data dashboard, and two resources - a glossary of terms used in the tool and a tab with P&R Technical Areas to discuss during the P4P workshop.   Please do not make any structural changes to the file as this may interfere with the data presentation in the dashboard.  In some cases, cells are locked to prevent any breaks in the file.</p>

<h4>Tab 1: Country Data</h4>
<p>This tab includes basic information about the platform and is to be completed by the NOHTA in advance of the P4P workshop.</p>

<h4>Tab 2: Document Checklist</h4>
<p>This tab includes a list of reference documents that will be helpful to have at the P4P workshop.  Documents are categorized by NOHP strategy documents; Policies & Strategies; and external assessments that may be available and relevant to the platform, including OIE PVS, JEE, etc. This should be completed as part of the document collection phase about 2 - 3 weeks before the workshop.</p>
<h4>Tab 3:  NOHP Organizational Capacity Module </h4>

<p>This tab includes 11 questions across six organizational capacity categories.  Consensus scores from P4P workshop are to be entered by P&R staff during the workshop in column G.  Scaled scores can only include whole numbers, 1 - 4.  Please include any relevant comments or discussion points from the workshop in the comments section.</p> 

<h4>Tab 4: NOHP Organizational Performance Module </h4>
<p>This tab includes 20 questions across six performance categories.  Consensus scores from P4P workshop are to be entered by P&R staff during the workshop in column G.  Scaled scores can only include whole numbers, 1 - 4.  Please include any relevant comments or discussion points from the workshop in the comments section.</p>
<h4>Tab 5:  NOHP & JEE Linkages </h4>
<p>If your country completed the JEE, please complete the JEE tab.  Every country that completed the JEE should answer question 1 that covers JEE area P.4.3.  If your country  NOHP has influence on or contributes to the success of other areas in JEE, please capture the top 5 categories on this tab by using the drop down options. </p>
</div>

{% endblock content %}





Dashboard:  
The dashboard highlights the summary scores and visualizes all 31 questions. 

Glossary: This includes defintitions for some of the concepts in the tool (and on tabs 3 and 4) and can be referenced during the workshop if participants have further questions. 

Maturity Model:
The maturity model explains the 4 categorical scores and their corresponding level. 

Level 1:  Beginning - All basic organizational development domains, systems, and processes are at a minimum; 
Level 2:  Developing - All basic organizational development, systems, and processes are in place.  Select domains have ongoing weaknesses, emphasis on increase in capacity;
Level 3:  Expanding - The stage where an organization is able to rapidly change and sustain itself due to credible systems, adequate resources and viable programs.  Organization with necessary systems in place, work plan and budgets approved.  Programmatic challenges exist but no systematic deficiencies. 
Level 4:  Mature - An organization with well-developed and well-functioning credible systems, adequate resources and viable programs.

P&R Activity Areas: 
This is a list of possible P&R interventions that can support NOHP capacity and performance needs.  All  Illustrative interventions are based on the P&R Conceptual Model. 